
<!Doctype html> 
    <body> 
        <main> 
            <form action="/users/addUser" method="POST">
                <div>
                    <label for="title">User Name</label>
                    <input type="text" name="name" id="name">
                </div>

                <button class="btn" type="submit"> Add User</button>
            </form>
        </main>
    </body>
</html> 